$color-primary-light:#fdc501;
$color-primary-dark:#e4b101;
$color-secondary: #e64e04;

$color-grey-dark-1: #111417; //bg-1
$color-grey-dark-2: #12151b; //bg-2
$color-grey-dark-3: #272a2d; //footer-color
$color-grey-dark-4: #2a2d32; //form-color
$color-grey-dark-5: #283436; // heading border-bottom

$color-grey-light-1: #575859; //text-color-1
$color-grey-light-2 : #a5a5a6; //text-color-2

$color-white: #fff;

